@import "_mobile";

@media (min-width: 768px) {
  .study-list{
    $icon-size: 15px;
    .edit{
      font-size: $icon-size;
    }
    .cross {
      font-size: $icon-size;
      color: red;
    }
  }

  .study-create{
    margin: 20px 300px;
    padding: 10px 50px;
  }
}